body{
	overflow-x: hidden;
}

nav{
	z-index: 1;
}

#footer-container a { 
	color: inherit; 
}

#footer-container a:hover{
	color: inherit;
	text-decoration: none;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.navbar-default{
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav>li>a{
	color: #fff;
	font-family: 'Montserrat';
	font-weight: bold;
	/*border-bottom: 2px solid white;*/
	margin-right: 30px;
	padding-bottom: 7px;
}

.navbar .navbar-header,
.navbar-collapse {
    float:none;
    display:inline-block;
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 768px) {
    .navbar-collapse  {
        display: block;
    }
}

/* Top and Bottom borders go out */
div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

.row{
	margin: 0;
}

#opening-section{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: url('../images/background.png');
	background-size: 100%;
}

#logo{
	position: absolute;
	height: 50%;
	left: 37%;
	top:17%;
}

#opening-heading{
	font-family: 'Montserrat';
	font-size: 350%;
	color: #98c13d;
	text-align: center;
}

#opening-heading-row{
	position: absolute;
	top: 70%;
}

#parivartan-description-container{
	position: absolute;
	top: 100%;
	left: 0;
	height: 40%;
	width: 100%;
	background-color: #cccccc;
}

#parivartan-description-row{
	position: relative;
	top: 20%;
}

#parivartan-description{
	border-top: 5px solid #98c13d;
	border-bottom: 5px solid #98c13d;
	font-family: 'Lato';
	font-weight: lighter;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px; 
}

#change-numbers-container{
	position: absolute;
	top: 140%;
	left: 0;
	height: 40%;
	width: 100%;
}

#change-numbers-row{
	position: relative;
	top: 20%;
}

.change-numbers-number{
	font-family: 'Montserrat';
	font-weight: bold;
	text-align: center;
	color: #98c13d;
	font-size: 500%;
}

.odometer-value{
	font-family: 'Montserrat';
	font-size: 80%;
}

.change-numbers-text{
	font-family: 'Open Sans';
	font-weight: bold;
	text-align: center;
	font-size: 200%;
}

#products-container{
	position: absolute;
	top: 180%;
	left: 0;
	height: 130%;
	width: 100%;
	background-color: #cccccc;
}

#products-heading{
	padding-top: 3%;
	padding-bottom: 3%;
	font-family: 'Montserrat';
	font-weight: bold;
	text-align: center;
	font-size: 250%;
}

#products-row{
	text-align: center;
}

.product-headings{
	font-weight: bold;
	font-family: 'Open Sans';
	font-size: 200%;
}

.product-desc{
	font-family: 'Lato';
	font-weight: lighter;
	text-align: justify;
}

.product-column{
	padding-left: 5%;
	padding-right: 5%;
}

#locations-container{
	position: absolute;
	top: 310%;
	left: 0;
	height: 70%;
	width: 100%;
}

#locations-heading{
	padding-top: 3%;
	padding-bottom: 3%;
	font-family: 'Montserrat';
	font-weight: bold;
	text-align: center;
	font-size: 250%;
}

.location-headings{
	font-weight: lighter;
	font-family: 'Lato';
	text-align: center;
}

#values-container{
	position: absolute;
	top: 380%;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #cccccc;
}

#values-heading{
	padding-top: 3%;
	padding-bottom: 3%;
	font-family: 'Montserrat';
	font-weight: bold;
	text-align: center;
	font-size: 250%;
}

.values-row{
	text-align: center;
}

.values-row-2{
	position: absolute;
    top: 60%;
    width: 100%;
}

.values-image-wrapper{
	width: 40%;
	margin: auto;
}

.value-headings{
	font-weight: bold;
	font-family: 'Open Sans';
	text-align: center;
	font-size: 150%;
}

.flip-card {
	position: absolute;
  	background-color: transparent;
  	width: 90%;
  	height: 300px;
  	perspective: 1000px;
}

.flip-card-inner {
  	position: relative;
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	transition: transform 0.6s;
  	transform-style: preserve-3d;
  	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}

.flip-card:hover .flip-card-inner {
  	transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	backface-visibility: hidden;
}

.flip-card-back {
	color: #000;
  	transform: rotateY(180deg);
  	z-index: 1;
  	font-family: 'Open Sans';
}

#team-container{
	position: absolute;
	top: 480%;
	left: 0;
	height: 130%;
	width: 100%;
}

#team-heading{
	padding-top: 3%;
	padding-bottom: 3%;
	font-family: 'Montserrat';
	font-weight: bold;
	text-align: center;
	font-size: 250%;
}

.team-row{
	text-align: center;
}

.team-image-wrapper{
	width: 55%;
	margin: auto;
}

.team-name{
	font-weight: bold;
	font-family: 'Open Sans';
	text-align: center;
	font-size: 150%;
}

#partners-container{
	position: absolute;
	top: 610%;
	left: 0;
	height: 70%;
	width: 100%;
	background-color: #cccccc;
}

#partners-heading{
	padding-top: 3%;
	padding-bottom: 3%;
	font-family: 'Montserrat';
	font-weight: bold;
	text-align: center;
	font-size: 250%;
}

.partner-image-wrapper{
	width: 70%;
	margin: auto;
}

.carousel-indicators{
	bottom: -70px;
}

#footer-container{
	position: absolute;
	top: 680%;
	left: 0;
	height: 60%;
	width: 100%;
	background-color: #000;
}

#footer-row{
	border-top: 4px solid #98c13d;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 4%;
	margin-left: 5%;
	margin-right: 5%;
}

.footer-headings{
	font-family: 'Open Sans';
	font-weight: bold;
	color: white;
	font-size: 200%;
}

.footer-content{
	font-family: 'Lato';
	font-weight: lighter;
	color: white;
	font-size: 120%;
}

.social-media-icons{
	text-align: right;
	width: 8%;
	float: right;
}

#copyright-text{
	font-family: 'Open Sans';
	font-weight: bold;
	color: white;
	font-size: 120%;
	margin-right: 5%;
	text-align: right;
}

#footer-logo{
	width: 80%;
}